@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

body {
}

.header {
    padding-top: 80px;
    max-width: 100%;
    height: auto;
    text-align: left;
}


.topimage {
    width: 100%;
    height: auto;
}

.toptext {
    font-family: 'Quicksand', sans-serif;
    font-size: 90px;
    text-align: left;
}

.bottomtext {
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: 78px;
}

.title-image {
    position: relative;
    width: 100%;
    object-fit: contain;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 48px;
    padding-bottom: 12px;
}

.slideshow {
    padding: 30px;
    text-align: center;
    margin: auto;
}

/* Style the Image Used to Trigger the Modal */
.polaroid {
    cursor: pointer;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 12px;
}

.myImg {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: 0.3s;
    padding: 30px 30px 14px;
    object-fit: cover;
}

.polaroid:hover .myImg {
    opacity: 0.7;
}

.polaroid-text {
    position: relative;
    padding-bottom: 8px;
}

div.container {
    text-align: center;
    padding: 10px 20px;
}

.modal-img {
    position: relative;
    width: 100%;
}

.modal-caption {
    padding-top: 16px;
    text-align: center;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 22px;
    background-color: white;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.artscience hr {
    margin-top: 20px;
    padding: 20px;
}

.tickets {
    overflow-x: auto;
}

table {
    overflow-x: auto;
    width: 80%;
}

table, td, th {
    text-align: center;
    padding: 20px;
    border-bottom: 3px solid #fcd703;
}

tr:hover {
    background-color: #e6c149;
}

.age {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 30px;
}

.price {
    font-family: 'Karla', sans-serif;
    font-size: 22px;
}

.exhibition-name {
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
}

.form-wrapper {
    width: 100%;   
}

.form {
    max-width: 922px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    border: solid;
    border-color: #e6c149;
    margin-bottom: 30px;
}

.form .label {
    width: 150px;
    display: inline-block;
    text-align: left;
    padding: 12px 12px 12px 0;
}

.form input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #fcd703;
    transition: width 0.4s ease-in-out;
}

.form input:focus {
    background-color: #fcd703;
    width: 60%;
}

.form select {
    width: 220px;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.form textarea {
    resize: none;
    height: 100px;
    width: 80%;
    border: 2px solid #fcd703;
    border-radius: 12px;
    transition: width 0.4s ease-in-out;
}

.form textarea:focus {
    border-radius: 12px;
    width: 100%;
    background-color: #fcd703;
}

#submit {
    display: inline-block;
    background-color: #fcd703;
    border: 2px solid black;
    color: #000;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius: 12px;
    cursor: pointer;
}

#submit:hover {
    background-color: black;
    color: #fcd703;
    border: 2px solid #fcd703;
}

