/* Global Variables */
@font-face {
    font-family: 'Fontjek';
    src: url("../multimedia/gardensbythebay/Fontjek.ttf");
}

/* Global Styles */
html, body {
    height: 100%;
}

body {
    background: black;
}

.fancy-font {
    font-family: 'Fontjek', cursive;
}

/* General Content Styles */
.content {
    background-color: white;
    position: absolute;
    z-index: 3;
}

.section {
    position: relative;
}

.header-text {
    color: white;
    margin-top: 20px;
    text-align: center;
    font-size: calc(5vh + 5vw);
}

.header-alter-letter {
    z-index: 3;
    transition: all 0.5s;
}

.header-alter-letter:hover {
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    color: saddlebrown;
    z-index: 4;
}

/* Title Video Styles */
.video-frame {
    backface-visibility: hidden;
    background-size: cover;
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    right: 0;
    width: auto;
    z-index: -1;
}

.video-overlay {
    background-color: rgba(0, 0, 0, .30);
    height: 100%;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    transition: background-color 300ms ease;
    min-height: 100%;
    animation: fadein-overlay 3s;
    animation-timing-function: ease-out;
}

@keyframes fadein-overlay {
    from {
        background-color: rgba(0, 0, 0, 1.0);

    }
    to {
        background-color: rgba(0, 0, 0, .30);
    }
}

.fade {
    background-color: rgba(0, 0, 0, .85) !important;
}

/* Title Text Styles */
.title {
    backface-visibility: hidden;
    left: 0;
    position: fixed;
    width: 100%;
    margin-top: 37vh;
    animation: fadein 2.4s;
}

@keyframes fadein {
    from {
        margin-top: 28vh;
        opacity: 0;
    }
    to {
        margin-top: 37vh;
        opacity: 1;
    }
}

.title h1 {
    color: white;
    text-align: center;
    font-size: calc(6vh + 6vw);
}

.title-alter-letter {
    z-index: 3;
    transition: all 0.5s;
}

.title-alter-letter:hover {
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    color: limegreen;
    z-index: 4;
}

/* Title Arrow Styles */
.arrow {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
}

.bounce {
    animation: arrow-bounce 1.2s infinite alternate;
}

@keyframes arrow-bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-15px);
    }
}

.arrow-image {
    transition: all 0.5s;
}

.arrow-image:hover {
    transform: scale(1.2);
}

/* Section Indicators Styles */
.content-indicators {
    position: fixed;
    justify-content: right;
    color: white;
    display: block;
    margin: 0;
    padding-right: 0;
    right: 0;
    top: 24%;
    z-index: 4;
}

.content-indicators ol {
    list-style-type: none;
}

.indicator {
    margin-bottom: 6px;
    height: 14vh;
    border-right: 9px solid rgba(255, 255, 255, 0.4);
    transition: height 0.5s, border-right 0.5s;
    vertical-align: middle;
}

.indicator:hover {
    height: 16vh;
    border-right: 11px solid rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.indicator-hover {
    position: relative;
    padding-top: 5vh;
    right: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.indicator:hover .indicator-hover {
    padding-top: 6vh;
    visibility: visible;
    opacity: 1;
}

.indicator-hover-text {
    text-align: center;
    color: black;
    padding: 4px 8px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
}

.content-indicators .active {
    border-right: 13px solid rgba(255, 255, 255, 1);
}

.content-indicators .active:hover {
    border-right: 13px solid rgba(255, 255, 255, 1);
}

/* Attractions Cards Styles */
.card {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    margin-top: 8px;
    border-radius: 5px;
    border-right: 5px;
    border: none;
    box-shadow: 0 2px 1.2em rgba(0, 0, 0, 0.24);
    transition: all 0.5s;
    animation: popout 0.6s ease-out;
    -webkit-animation: popout 0.6s ease-out;
    z-index: 4;
}

@keyframes popout {
    from {
        opacity: 0;
        transform: scale(0.8)
    }
    to {
        opacity: 1;
        transform: scale(1)
    }
}

.card:hover {
    box-shadow: 0 3px 1.2em rgba(0, 0, 0, 0.36);
    transform: scale(1.02) translate3d(0px, 0px, 0px);
    -webkit-transform: scale(1.02) translate3d(0px, 0px, 0px);
}

.card .card-img-top {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
}

/* Attractions Background Styles */
.attractions-background {
    background-image: url("../multimedia/gardensbythebay/attraction-cards/default.jpg");
    background-size: cover;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    filter: blur(10px) brightness(0.5);
    -webkit-filter: blur(8px) brightness(0.5);
    transition: background-image 0.3s ease-in-out;
    -webkit-transition: background-image 0.3s ease-in-out;
}

/* Modal Styles */
.modal {
    padding-right: 0 !important;
}
.modal-dialog {
    padding-right: 0 !important;
    max-width: 96% !important;
}

/* Media Queries */
@media (max-width: 480px) {
    .content-indicators {
        visibility: hidden;
    }
}


#gallery {
    padding-top: 3000px;
}