/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

html, body {
    height: 100%;
}

/* Video Overlay */
.video-overlay {
    background-color: rgba(0, 0, 0, .30);
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    transition: background-color 300ms ease;
    width: 100%;
    min-height: 768px;
    animation: fadein-overlay 4s;
    animation-timing-function: ease-out;
}

@keyframes fadein-overlay {
    from {
        background-color: rgba(0, 0, 0, 1.0);

    }
    to {
        background-color: rgba(0, 0, 0, .30);
    }
}

.fade {
    background-color: rgba(0, 0, 0, .85) !important;
}

/* Title */
#title {
    backface-visibility: hidden;
    left: 0;
    position: fixed;
    width: 100%;
    margin-top: 40vh;
    animation: fadein 2.5s;
}

#title h1 {
    font-family: 'Dancing Script', cursive;
    color: white;
    text-align: center;
    font-size: calc(4vh + 5vw);
}

@keyframes fadein {
    from {
        margin-top: 30vh;
        opacity: 0;
    }
    to {
        margin-top: 40vh;
        opacity: 1;
    }
}

/* Drone Video */
.video-frame {
    backface-visibility: hidden;
    background-size: cover;
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    right: 0;
    width: auto;
    z-index: -1;
}

/* Content Styles */
.content {
    background-color: white;
    padding: 2.5rem;
    position: relative;
    z-index: 1;
}

.test {
    margin-top: 10000px;
}