.navbar-main {
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 3;
    padding-top: 1em;
    transition: box-shadow 0.25s;
}

.navbar-format {
    border-top: 2px solid black;
    padding: 0.6em;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.navbar-custom {
    margin-left: 1em;
}

.navbar-shadow {
    box-shadow: 0 0 1.2em rgba(0, 0, 0, 0.28);
}

.nav-item {
    padding: 0.5em;
}

.active a {
    border-bottom: 2px solid black;
}

.nav-touch {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s;
}

.nav-touch:hover {
    border-bottom-color: black;
}

ul li a {
    list-style: none;
    margin: 0;
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
}