.navbar {
    border-top: 2px solid black;
    background-color: white;
    padding: 0.6em;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.navbar-custom {
    margin-left: 1em;
}

.nav-item {
    border-spacing: 1em;
    padding: 0.6em;
}
.active a {
    border-bottom: 2px solid black;
}

.nav-touch {
    border-bottom: 2px solid transparent;
    transition: color 0.5s, border-bottom-color 0.5s;
}

.nav-touch:hover {
    border-bottom-color: black;
}

ul li a {
    list-style: none;
    margin: 0;
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
}