.navbar {
    border-top: 6px solid #000000;
    background-color: white;
    padding: 0.6em;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 100%;
    position: fixed;
    z-index: 3;
}

#navbarSupportedContent {
    padding-left: 500px;
}

.nav-item {
    border-spacing: 1em;
    padding: 0.6em;
}

ul li a {
    list-style: none;
    margin: 0;
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
}