.slides-home {
    width: auto;
    z-index: 1;
}

html, body {
    height: 100%;
}

.title-container {
    width: 100%;
    height: calc(15vh + 2.4vw);
    display: flex;
    position: relative;
    overflow: hidden;
    vertical-align: bottom;
}

.title-text {
    bottom: 6px;
    left: 0;
    align-self: end;
    font-size: calc(3.5vh + 2.8vw);
    position: absolute;
    transition: bottom 1s, visibility 1s;
}

.title-hidden {
    color: transparent;
}

.title-hidden-top {
    bottom: 140px;
    visibility: hidden;
}

.title-hidden-bottom {
    bottom: -120px;
    visibility: hidden;
}

.carousel, .carousel-item, .active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item img {
    object-fit: cover;
    height: 300px !important;
    width: 350px;
}