/*Welcome Section*/
.welcome{
    height: 98vh;
    z-index: 1;
}

.welcome-text {
    color: white;
    text-align: center;
    font-size: 8vh;
    position: center;
    padding-top: 22%;
    font-family: 'Cinzel', serif;
}

.welcome-img {
    background-image: url("../multimedia/jewel-images/jewel.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, .30);
    height: 100%;
}

/*About Section*/

.about-text {
    font-family: 'Cinzel', serif;
    font-size: 6.5vh;
    color: black;
    position: center;
    text-align: center;
    padding-top: 30%;
    padding-left: 0px;
}

.about-information-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.3vh;
    color: white;
    text-align: center;
    position: center;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.about {
    background-color: #baac79;
    height: 98vh;
}

.about-img {
    background-image: url("../multimedia/jewel-images/jewel logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, .70);
    height: 85vh;
    width: 50%;
    margin-top: 3%;
    padding-right: 40%;
}

/*Attraction Section*/
.a-bg {
    background-color: black;
    height: 98vh;
}

.slider-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5vh;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.attraction-title {
    color: white;
    text-align: center;
    font-size: 6.5vh;
    position: center;
    font-family: 'Cinzel', serif;
    padding-top: 2.5%;
}

.a-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5vh;
    color: white;
    text-align: center;
    padding: 3% 0;
    position: center;
}

.gradient-box {
    align-items: center;
    width: 93%;
    margin: auto;
    height: 70%;
    position: relative;
    box-sizing: border-box;
    background: #baac79;
    background-clip: padding-box;
    border: solid 5px transparent;
    border-radius: 1em;
}

.gradient-box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
}

.slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin-left: 4%;
    margin-right: 4%;
}

.slides {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    border-radius: 10px;
}
.slides::-webkit-scrollbar {
    width: 1vw;
    height: 1vh;
}
.slides::-webkit-scrollbar-thumb {
    padding-top: 30px;
    background-color: white;
    border-radius: 20px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
      flex-shrink: 0;
      width: 26vw;
      height: 46vh;
      margin-right: 3%;
      margin-bottom: 1%;
      border-radius: 10px;
      background: black;
      transform-origin: center center;
      transform: scale(1);
      transition: transform 0.5s;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10vh;
}

.carousel-image {
    object-fit: cover;
    position: relative;
    bottom: 5%;
    width: 100%;
    height: 75%;

}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.slider > a:active {
  top: 1px;
}

.slider > a:focus {
  background: white;
}

@supports (scroll-snap-type: none) {
  .slider > a { 
    display: none;
  }
}

.carousel-caption {
    padding-bottom: 0.5% !important;
    margin: 0 !important;
    white-space: nowrap !important;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #c9c8bb;
    overflow: hidden;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s ease;
    z-index: 11;
    border-radius: 10px;
}

.text {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 2.5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-container {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: auto;
}

.overlay-container:hover .overlay {
    visibility: visible;
    opacity: 1;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #1375ed;
    float: right;
    font-size: 2.8vh;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

tr, th, td {
    border: thin solid #a2aba5;
    padding: 10px;
}

table {
    text-align: center;
    font-size: 2vh;
    font-family: 'Josefin Sans', sans-serif;
}

.modal-body{
    height: 100%;
    width: 100%;
}

.modal-content {
    height: 92%;
    width: 92%;
}

.v-button{
    margin-top: 3%;
}

/*Shopping*/
.sd-title {
    color: black;
    text-align: center;
    font-size: 5vh;
    position: center;
    font-family: 'Cinzel', serif;
    padding-top: 3%;
}

.sd-bg {
    background-color: #baac79;
/*    height: 116vh;*/
}

.sd-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5vh;
    color: white;
    text-align: center;
    position: center;
    padding-top: 2%;
    margin-bottom: 2%;
}

.c-img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.card-title {
    margin-bottom: 1%;
    color: #baac79;
    font-size: 1.6rem;
    font-family: 'Cinzel', serif;
    margin-bottom: 1%;
    padding: 0%;
}

.card-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    color: #baac79;
    position: center;
    margin-bottom: 1%;
    padding: 0%;
}

.card-deck {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

.card {
    border-radius: 10px;
    display: block;
    top: 0%;
    position: relative;
    background-color: white;
    margin: 1%;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #f2f8f9;
    width: auto;
    padding: -1%;
}

.card:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 8px 12px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
}

.card:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -1%;
    right: -1%;
    background: #00838d;
    height: 2vh;
    width: 1.5vw;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 70% 70%;
    transition: transform 0.7s ease-out;
}

.card:hover:before {
    transform: scale(2.15);
}


.btn-flashy {
    margin-bottom: 20px;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 1.4vh;
    font-weight: 400;
    line-height: 4.5vh;
    max-width: 16vh;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.btn-flashy:hover {
    text-decoration: none;
}

/*btn_background*/
.effect01 {
    color: #FFF;
    border: 4px solid #000;
    box-shadow: 0px 0px 0px 1px #000 inset;
    background-color: #000;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    margin-left: 42%;
    margin-top: 2.9%;
}

    .effect01:hover {
        border: 4px solid #666;
        background-color: #FFF;
        box-shadow: 0px 0px 0px 4px #EEE inset;
    }

    /*btn_text*/
    .effect01 span {
        transition: all 0.2s ease-out;
        z-index: 2;
    }

    .effect01:hover span {
        letter-spacing: 0.13em;
        color: #333;
    }

    /*highlight*/
    .effect01:after {
        background: #FFF;
        border: 0px solid #000;
        content: "";
        height: 15vh;
        left: -75px;
        opacity: .8;
        position: absolute;
        
    }

    .effect01:hover:after {
        background: #FFF;
        border: 20px solid #000;
    }

 /*Stay*/
.s-title {
    color: white;
    text-align: center;
    font-size: 5vh;
    position: center;
    font-family: 'Cinzel', serif;
    padding-top: 50px;
}

.s-bg {
    background-color: black;
    height: 98vh;
}

.s-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5vh;
    color: #baac79;
    text-align: center;
    position: center;
    padding-top: 2%;
    margin-bottom: 2.5%;
}

.s-img{
    height: 12vh;
    width: 6vw;
}

.y-img{
    height: 30vh;
    width: 25vw;
    margin-left: 37%;
    margin-bottom: -2%;
}

.carousel-caption1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5vh;
    color: white;
    text-align: center;
    position: center;
    background-color: black;
    opacity: 0.5;
    margin-bottom: 2%;
}

.carousel-control-next{
    margin-right: 24%;
}

.carousel-control-prev {
    margin-left: 24%;
}

@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    10% {
        transform: translateX(0);
        opacity: 1;
    }

    20% {
        transform: translateX(0);
        opacity: 1;
    }

    30% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

.pic-ctn {
    position: relative;
    width: 10vw;
    height: 10vh;
    margin-top: 0vh;
    margin-bottom: 2%;
    margin-left: 10%;
    border-radius: 10px;
}

    .pic-ctn > img {
        position: absolute;
        top: 0;
        left: calc(50% - 100px);
        opacity: 0;
        animation: display 10s infinite;
    }

img:nth-child(2) {
    animation-delay: 2s;
}

img:nth-child(3) {
    animation-delay: 4s;
}

img:nth-child(4) {
    animation-delay: 6s;
}

.tilesWrap {
	padding: 0;
	margin: 0% auto;
	list-style: none;
	text-align: center;
}
    .tilesWrap li {
        display: inline-block;
        width: 10%;
        min-width: 14vw;
        max-width: 17vw;
        padding: 2% 1% 3%;
        position: relative;
        vertical-align: top;
        margin: 1%;
        font-family: 'Josefin Sans', sans-serif;
        min-height: 10vh;
        background: #becccf;
        text-align: left;
    }

.tilesWrap li .s-img {
	padding-top: 0;
	position: relative;
    margin-bottom: 1%;
}

.tilesWrap li h3 {
	font-size: 2vh;
	color: black;
	margin-bottom: 5px;
}

/* Form */
.f-bg {
    background-color: #baac79;
    height: 120vh;
}

@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);



#contact {
    margin: 2em auto;
    background: black;
    width: 70vw;
    border-radius: 2%;
}

    #contact h1 {
        background: #baac79;
        text-align: center;
        font-family: 'Cinzel', serif;
        font-size: 5vh;
        padding: 0 0 0.6em 0.4em;
        color: black;
        margin-top: -5%;
    }

#contact::after {
    content: "";
    display: block;
    height: 3vh;
    width: 100%;
    left: 5%;
    bottom: 0;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.19);
    border-radius: 100%;
    z-index: -1;
}


#contact article {
    padding: 1em;
}

#contact p {
    font-family: Oswald,sans-serif;
    color: white;
    text-align: center;
    font-size: 2vh;
}

.input_wrapper {
    position: relative;
}

.textarea_wrapper textarea {
    margin-top: 1%x;
    display: block;
    width: 100%;
    background: white;
    border: 1px solid white;
    box-shadow: 0 0 1px 0 white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    -webkit-transition: all 250ms ease;
    color: #cfd7ff;
    border-radius: 10px;
    font-size: 2vh;
}

.input_wrapper input[type="text"] {
    margin-top: 1em;
    display: block;
    width: 100%;
    background: white;
    border: 1px solid #DADADA;
    box-shadow: 0 0 1px 0 #E4E4E4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    -webkit-transition: all 250ms ease;
    color: #5E5E5E;
    text-indent: 15%;
    border-radius: 10px;
    font-size: 2vh;
}

    .input_wrapper input[type="text"]:focus {
        background: #cfd7ff;
        box-shadow: inset 2px 2px 5px 0 #DADADA;
        outline: none;
        text-indent: 0;
        color: white;
    }

.input_wrapper label {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #cfd7ff;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vh;
    box-sizing: border-box;
    width: 15%;
    text-align: center;
    line-height: 2.8em;
    padding-top: 0.7vh;
    -webkit-transition: all 250ms ease;
    border-radius: 10px;
}

.input_wrapper input[type="text"]:focus + label {
    left: 85%;
}

.textarea_wrapper textarea {
    margin-top: 1%;
    display: block;
    width: 100%;
    min-height: 15vh;
    background: white;
    border: 1px solid #cfd7ff;
    box-shadow: 0 0 1px 0 #E4E4E4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    -webkit-transition: all 250ms ease;
    color: grey;
}

    .textarea_wrapper textarea:focus {
        background: #cfd7ff;
        box-shadow: inset 2px 2px 5px 0 white;
        outline: none;
    }

.submit_wrapper {
    text-align: center;
}

    .submit_wrapper input {
        text-align: center;
        display: inline-block;
        width: 20%;
        height: 5vh;
        margin-top: 1%;
        margin-bottom: 1%;
        cursor: pointer;
        background: #cfd7ff;
        color: black;
        font-family: Oswald,sans-serif;
        font-size: 2vh;
        border: none;
        -webkit-box-shadow: 1px 1px 0 0 white,2px 2px 0 0 white,3px 3px 0 0 white;
        box-shadow: 1px 1px 0 0 white,2px 2px 0 0 white,3px 3px 0 0 white;
        -webkit-appearance: none;
        -webkit-transition: all 250ms ease;
        border-radius: 10px;
    }

        .submit_wrapper input:hover {
            -webkit-box-shadow: 1px 1px 0 0 white,0px 0px 0 0 white,0px 0px 0 0 white;
            box-shadow: 1px 1px 0 0 white,0px 0px 0 0 white,0px 0px 0 0 white;
            margin-top: 1%;
            margin-left: 2px;
            margin-bottom: 0px;
        }

reset_wrapper {
    text-align: center;
}
    .reset_wrapper input {
        text-align: center;
        display: inline-block;
        width: 20%;
        height: 5vh;
        margin-top: 1%;    
        margin-bottom: 1%;
        cursor: pointer;
        background: #cfd7ff;
        color: black;
        font-family: Oswald,sans-serif;
        font-size: 2vh;
        border: none;
        -webkit-box-shadow: 1px 1px 0 0 white,2px 2px 0 0 white,3px 3px 0 0 white;
        box-shadow: 1px 1px 0 0 white,2px 2px 0 0 white,3px 3px 0 0 white;
        -webkit-appearance: none;
        -webkit-transition: all 250ms ease;
        border-radius: 10px;
    }

    .reset_wrapper input:hover{
        -webkit-box-shadow: 1px 1px 0 0 white,0px 0px 0 0 white,0px 0px 0 0 white;
        box-shadow: 1px 1px 0 0 white,0px 0px 0 0 white,0px 0px 0 0 white;
        margin-top: 22px;
        margin-left: 2px;
        margin-bottom: 0px;
    }

.sm-links{
    position: relative;
    margin-left: 37%;
}

.sm-links a {
    position: center;
    width: 6vw;
    height: 10vh;
    line-height: 5vh !important;
    position: relative;
    margin: 0 1px;
    text-align: center;
    display: inline-block;
    color: black;
    -webkit-transition: all 0.27s; 
    margin-top: -2%;
}

    .sm-links a:before {
        display: inline-block;
        border: 1px solid #111;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        width: 6vw;
        -webkit-transition: all 0.27s ;
    }

.sm-links a:hover{
    color:white;
}

.sm-links a:hover:before{
    background: black;
}

.social-link .fa {
    padding: 1%;
    font-size: 7vh;
    width: 40%;
    text-align: center;
    text-decoration: none;
    position: relative;
    top: 2px;
    left: 1px;
}

/* Add a hover effect if you want */
.social-link .fa:hover {
    opacity: 0.7;
}

.social-link .fa-facebook {
    color: black;
    border: 1px black;
}

.social-link .fa-instagram {
    color: black;
}

.social-link .fa-youtube {
    color: black;
}

.social-link .fa-tripadvisor {
    color: black;
}


@media (min-width: 922px) {
    .card-title {
        font-size: 1rem;
    }
    .card-text {
        font-size: 0.8rem;
    }
}