.welcome{
    background-color: black;
    height: 840px;
}

.page-wrapper {
    padding-top: 100px;
}

.welcome-text {
    color: white;
    text-align: center;
    font-size: 70px;
    position: center;
    padding-top: 350px;
}

.about-text {
    font-size: 50px;
    color: white;
    padding-top: 500px;
}

.welcome-img {
    background-image: url("../multimedia/sea-images/welcome-image-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    margin: 10px;
    display: block;
    position: relative;
}

.about {
    background-color: burlywood;
    height: 870px;
}
