.welcome{
    background-color: black;
    height: 840px;
    z-index: 1;
}

.page-wrapper {
    padding-top: 100px;
}

.welcome-text {
    color: white;
    text-align: center;
    font-size: 70px;
    position: center;
    padding-top: 350px;
}

.about-text {
    font-size: 50px;
    color: white;
    position: relative;
    padding-top: 100px;
    padding-left: 400px;
}

h1 span {
    background-color: black;
}

.about-information-text {
    font-size: 20px;
    color: white;
    text-align: center;
    position: center;
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
    
}

.welcome-img {
    background-image: url("../multimedia/sea-images/welcome-image-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    margin: 10px;
    display: block;
    position: relative;
}

.about {
    background-color: #baac79;
    height: 870px;
}

.about-img {
    background-image: url("../multimedia/sea-images/sea-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    margin: 10px;
    display: block;
    position: relative;
    padding-top: 100px;
}

.carousel-slide {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.carousel-image {
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    width: 400px;
    margin: 10px;
}
