.welcome{
    background-color: black;
    height: 840px;
}

.page-wrapper {
    padding-top: 100px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 70px;
    position: center;
    padding-top: 300px;
}

.welcome-img {
    background-image: url("../multimedia/sea-images/welcome-image-2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 650px;
    margin: 10px;
    display: block;
    position: relative;
}

.about {
    background-color: burlywood;
    height: 870px;
}
