/*General*/

html {
    scroll-behavior: smooth;
}

.wrapper {
    margin-top: 50vh;
    margin-right: 10vh;
    margin-left: 10vh;
    z-index: 10;
}

.title {
    z-index: 3;
    width: 100%;
    position: absolute;
    padding: 10px;
    margin-top: 35vh;
    text-align: center;
    color:  #0D5510 ;
   /* color: white;*/
    font-family: 'Caveat Brush', cursive;
    font-weight: bold;
    font-size: 10rem;
    /*text-decoration: underline overline;*/
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: inherit;
}

.header {
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    /*color:  #0D5510 ;*/
    color: white;
    font-family: 'Caveat Brush', cursive;
    font-size: 4rem;
    z-index: 3;
    background-color: rgba(0,0,0,0.6);
}

h5 {
    padding: 10px;
    text-align: center;
    color: black;
    background: rgba(255, 255, 255, 0.5);
    font-size: 1.8rem;
    font-family: 'Caveat Brush', cursive;
}

.slides {
    margin-top: 3rem;
    z-index: 2;
}

.dividerline {
    border-top: 5px solid #0D5510;
    opacity: 1;
}

/*Header*/
.air-slider {
    width: auto;
    z-index: -10;
}

.air-slider .slide {
    width:100%;
    height:100%;
    position: fixed;
    overflow:hidden;
    opacity:0;
    -webkit-transition:3s ease all;
    transition:3s ease all;
    background:#ccc;
    z-index:0;
}

.air-slider .slide img {
     width:100%;
     height:100%;
 }

.air-slider .active-slide {
    opacity: 0.7;
}

/*
.air-slider .controls {
    width:100%;
    height:50px;
    top:calc(50% - 25px);
    left:0;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-flow:row nowrap;
    flex-flow:row nowrap;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    position:absolute
}
*/

.air-slider .controls button {
    display: none;
}

/*About*/  
#about {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.about {
    font-size: 60px;
    font-family: 'Caveat Brush', cursive;
    padding-bottom: 5%;
}

.about-text{
    font-size: 2.5rem;
    font-family: 'Caveat Brush', cursive;
}

.bg-image {
    background-image: url("../multimedia/zoo-images/forest.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 95rem 60rem;
    height: 761px;
    margin: 10px;
    display: block;
    position: relative;
    opacity: 1;
}

@media (max-width: 850px ){
    .bg-text {
        display: none;
    }
    .zone-text {
        display: none;
    }
}
.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
    height: 504px;
    /*width: 1300px;*/
    padding: 80px;
    font-family: 'Caveat Brush', cursive;
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


/*Main Gallery*/

#maingallery {
    background-image: url("../multimedia/zoo-images/blackleopard.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 30rem 20rem;
    width: 100%;
    height: 800px;
    margin: 10px;
    display: inline-block;
    position: relative;
    opacity: 1;
}

/*.bg-animal {
    background-image: url("../multimedia/zoo-images/blackleopard.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 2000px 800px;
    width: 100%;
    height: 800px;
    margin: 10px;
    position: relative;
    opacity: 1;
    z-index: 0;
}*/

/*Zone Gallery*/
#zonegallery {
    background-image: url("../multimedia/zoo-images/blackzebra.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 15rem 8rem;
    width: 100%;
    height: 800px;
    margin: 10px;
    display: inline-block;
    position: relative;
    opacity: 1;
}

.zone-text {
    text-align: center;
    color: white;
    font-family: 'Caveat Brush', cursive;
    font-size: 2.2rem;
    background-color: rgba(0,0,0,0.6);
    padding: 3rem;
    margin: 3rem 3rem 3rem;
    width: auto;
}

video {
    height: 40vh;
    width: 40vw;
    margin-top: 3rem;
}

/*Ticket Prices & Operating Hours*/
#ticketandtime {
    padding-bottom: 5%;
}

.ticket-table {
    font-family: 'Caveat Brush', cursive;
    text-align: center;
    border-collapse: collapse;
    font-size: 2.1rem;
    margin-top: 3rem;
    color: white;
    background-color: rgba(0,0,0,0.6);
}

.hours-table {
    font-family: 'Caveat Brush', cursive;
    text-align: center;
    border-collapse: collapse;
    font-size: 2.1rem;
    margin-top: 3rem;
    color: white;
    background-color: rgba(0,0,0,0.6);
}

.ticket-table tr,.ticket-table th,.ticket-table td {
    border: solid black;
    padding: 5vh;
}

.hours-table tr,.hours-table th,.hours-table td {
    border: solid black;
    padding: 5.4vh;
}

.ticket-table .tablehead {
    background-color: #0D5510;
    color: white;
    font-size: 3rem;
    padding: 6vh;
}

.hours-table .tablehead {
    background-color: #0D5510;
    color: white;
    font-size: 3rem;
    /*padding: 6vh;*/
    padding: 0;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0.2s;
}

.zoom:hover {
    transform: scale(1.04);
}

/*Getting There*/
#location {
    padding-bottom: 5%;
}

.address {
    width: 100%;
    position: relative;
    background-color: rgba(0,0,0,0.6);
    margin-top: 3rem;
    padding-top: 4rem;
}

.map {
    margin-top: 3rem;
}

dt{
    text-align: center;
    color: #0D5510;
    font-size: 2.6rem;
    font-family: 'Caveat Brush', cursive;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: inherit;
 }

dd{
    text-align: center;
    color: white;
    font-size: 1.8rem;
    font-family: 'Caveat Brush', cursive;
}


/*Videos*/

#videos {
    padding-bottom: 5%;
}

.videowrapper {
    position: relative;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}


/*Shows*/
#shows {
    padding-bottom: 5%;
}

.show-container {
    position: relative;
    width: 100%;
    height: auto;
}

.image {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.7s ease;
}

.show-container:hover .overlay {
    height: 100%;
}

.show-text {
    text-align: center;
    color: white;
    font-family: 'Caveat Brush', cursive;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.show-text h3 {
    text-align: center;
    color: #0D5510;
    font-size: 4rem;
    opacity: 1;
    font-family: 'Caveat Brush', cursive;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: inherit;
}