/*General*/
.wrapper {
    margin: 100px;
}

.main {
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    color:  #0D5510 ;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    font-size: 60px;
    
}

.header {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    color:  #0D5510 ;
    font-family: 'Architects Daughter', cursive;
    font-size: 60px;
}

h5 {
    padding: 10px;
    text-align: center;
    color: black;
    background: rgba(255, 255, 255, 0.5);
    font-size: 40px;
    font-family: 'Architects Daughter', cursive;
}

.slides {
    margin: 50px;
}

.dividerline {
    border-top: 2px solid #0D5510;
}

/*About*/
.about{
    font-size: 60px;
    font-family: 'Architects Daughter', cursive;
}

.about-text{
    font-size: 35px;
    font-family: 'Architects Daughter', cursive;
}

/*Main Gallery*/
.bg-image {
    background-image: url("../multimedia/zoo-images/main_entrance2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1300px 761px;
    height: 761px;
    margin: 10px;
    display: block;
    position: relative;
    opacity: 0.8;
}

@media (max-width: 850px ){
    .bg-text {
        display: none;
    }
    .zone-text {
        display: none;
    }
}

.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
    height: 504px;
    width: 1300px;
    padding: 80px;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/*Zone Gallery*/
.zone-text {
    text-align: center;
    font-weight: bold;
    color: #0D5510;
    font-family: 'Architects Daughter', cursive;
    font-size: 35px;
}

/*Ticket Prices & Operating Hours*/
table {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    border-collapse: collapse;
    font-size: 30px;
}

tr, th, td {
    border: solid black;
    padding: 40px;
}

.tablehead {
    background-color: #0D5510;
    color: white;
    font-size: 40px;
}