@import "bootstrap.min.css";
@import "header-styles.css";
@import "footer-styles.css";

html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
}

.item-hidden {
    position: absolute !important;
    visibility: hidden !important;
    max-height: 0 !important;
    max-width: 0 !important;
}

.smooth-scrolling {
    
}