@import "bootstrap.min.css";
@import "header-styles.css";
@import "footer-styles.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: "Roboto", serif;
}

body {
    min-height: 100%;
}

.item-hidden {
    position: absolute !important;
    visibility: hidden !important;
    max-height: 0 !important;
    max-width: 0 !important;
}

.smooth-scrolling {
    
}

.countrypicker .btn-light {
    background-color: white;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
}

.countrypicker .inline-flag {
    margin-top: 4px;
}