@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    scroll-behavior: smooth;
    min-height: 100%;
}

.item-hidden {
    position: absolute !important;
    visibility: hidden !important;
    max-height: 0 !important;
    max-width: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.smooth-scrolling {
    
}

.countrypicker .btn-light {
    background-color: white;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
}

.countrypicker .inline-flag {
    margin-top: 2px;
}